{
    "plugins": [
        [
            "module-resolver",
            {
                "root": [
                    "./src"
                ],
                "alias": {
                    "test1": "./src/test1"
                }
            }
        ]
    ]
}